.postContainer {
  background: #FAFAFA;
  border-radius: 5px;
  padding: 60px;

  p {
    color: black;
  }
}

.blogImage {
  border-radius: 5px;
  margin-bottom: 58px;
}

.postEntry {
  a {
    color: white;
    text-decoration: none;
  }
}