.postContainer {
  @media (min-width: $desktop) {
    padding: 60px;
  }
  background: #FAFAFA;
  border-radius: 5px;
  padding: 25px;

  p {
    color: black;
  }
}

.blogImage {
  @media (min-width: $desktop) {
    margin-bottom: 58px;
  }
  border-radius: 5px;
  margin-bottom: 20px;
}

.postEntry {
  a {
    color: white;
    text-decoration: none;
  }
}