$siteBackground:linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
                linear-gradient(166.44deg, #4E71CD 9.72%, rgba(132, 157, 220, 0.692708) 81.36%, rgba(255, 255, 255, 0) 139.48%);
$deskTopContainer: 1230px;
$phoneContainer: 340px;
$font: 'Raleway', sans-serif;
$widescreen: 1440px;
$desktop: 1024px;
$tablet: 768px;
$phone: 425px;
