.experience {
  margin-top: 2.875rem;
  margin-bottom: 4.125rem;
}

.experienceCard {
  grid-template-columns: 1fr 2fr;
  background: linear-gradient(117.27deg, #15153b -43.24%, rgba(137, 190, 239, 0.1) 112.39%, rgba(255, 255, 255, 0) 112.41%);
  border: solid white 0.1875rem;
  border-radius: 0.5rem;
  margin: auto;
  width: 20rem;
  max-width: 100%;
  @media (min-width: $widescreen) {
    width: 60.5rem;
    min-height: 300px;
    display: grid;
  }

  .employedDescriptionList {
    min-height: 200px;

    @media (min-width: $widescreen) {
      border-left: solid 2px white;
    } 
  }
  .employedBy {
    width: 100%;
    margin: auto;

    .employeer {
      border-top: solid 2px white;
      width: 100%;
      padding: 10px;

      &:first-child {
        @media (min-width: $widescreen) {
          border-top: solid 2px white;
        }
        border-top: none;
      }

      &:last-child {
        border-bottom: solid 2px white;
      }
    }

    button {
      color: white;

      &[aria-selected="true"] {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(166.44deg, #84a0e8 9.72%, rgb(22 40 86 / 83%) 81.36%, rgba(255, 255, 255, 0) 139.48%);
      }
    }
  }
  
  .employedDescription {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 37.5rem;
    width: 100%;
    h4 {
      margin-bottom: 0;
    }

    h5 {
      margin-bottom: 0.2rem;
    }

    @media (min-width: $widescreen) {
      padding-top: 2.5rem;
      padding-bottom: 2.5rem;
      padding-left: 50px;
      padding-right: 50px;
    }
  }
}