* {
  box-sizing: border-box;
  font-family: $font;
  margin:0;
  padding: 0;
  scroll-behavior: smooth;
}

html,body {
  overflow-x: hidden;
}

body {
  background: $siteBackground;
  color: white;
  height:100%;
}

h1,h2,h3,h4,h5 {
  font-weight: 500;
  text-shadow: $textShadow;
}

h1 {
  @media (min-width: $desktop) {
    font-size: 5.8rem;
  }
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

h2 {
  @media (min-width: $desktop) {
    font-size: 4rem;
  }
  font-size: 2.2rem;
  margin-bottom: 1rem;
}

h3 {
  @media (min-width: $desktop) {
    font-size: 2.25rem;
  }
  font-size: 1.4rem;
  margin-bottom: 1.5rem;
}

h4 {
  @media (min-width: $desktop) {
    font-size: 1.75rem;
  }
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

.text-h4 {
  @media (min-width: $desktop) {
    font-size: 1.75rem;
  }
  font-size: 1.75rem;
}

h5 {
  @media (min-width: $desktop) {
    font-size: 1.25rem;
  }
  font-size: 0.9rem;
}

p {
  text-shadow: $textShadow;
  margin-bottom: 20px;
}

ul,li {
  text-shadow: $textShadow;
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

.fontWeightLight {
  font-weight: 400;
}

.container {
  @media (min-width: $desktop) {
    width: $deskTopContainer;
  }
  margin: auto;
  width: $phoneContainer;
  max-width: 100%;
}

.centerText {
  text-align: center;
}

.flex {
	display: flex;
}

.spaceAround {
  justify-content: space-around;
}

.spaceInbetwen {
  justify-content: space-between;
}

.flexAlignBase {
  display: flex;
  align-items: baseline;
}

.justifyCenter {
  justify-content: center;
}

.alignItemsCenter {
  align-items: center;
}

.button {
  align-items: center;
  background: linear-gradient(117.27deg, #15153b -43.24%, rgba(137, 190, 239, 0.1) 112.39%, rgba(255, 255, 255, 0) 112.41%);
  max-width: 100%;
  border-radius: 5px;
  border: 3px solid #FFFFFF;
  color: white;
  display: inline-flex;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  height: 62px;
  justify-content: center;
  margin: 20px auto;
  text-align: center;
  padding: 0 20px;

  p {
    filter: none;
  }
}

.radiusTwentyFive {
  border-radius: 25px;
}

.shadow {
  box-shadow:
  0.4px 0.4px 0.3px rgba(0, 0, 0, 0.031),
  1px 1px 0.9px rgba(0, 0, 0, 0.044),
  1.9px 2.1px 1.8px rgba(0, 0, 0, 0.056),
  4px 4.4px 3.7px rgba(0, 0, 0, 0.069),
  11px 12px 10px rgba(0, 0, 0, 0.1);
}

.hide {
  display: none;
}

.pageHeader {
  @media (min-width: $desktop) {
    margin-top: 0;
  }
  padding-top: 100px;
}

.scrollLock {
  margin: 0;
  height: 100%;
  overflow: hidden;
}