.companyCard {
  background: white;
  border-radius: 8px;
  width: 332px;
  height: 223px;
  display: flex;
  justify-content: center;
  padding: 20px;
  img {
    max-width: 250px;
    object-fit: contain;
  }
}