.standards {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;

  @media (min-width: $desktop) {
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 84px;
  }
  .standard {
    @media (min-width: $desktop) {
      margin-bottom: 0;
      height: 400px;
    }
    text-align: center;
    display: flex;
    flex-flow: column;
    margin-bottom: 50px;
    align-items: center;
    
    justify-content: space-around;
    h4 {
      @media (min-width: $desktop) {
        font-size: 1.75rem;
      }
      font-size: 1.2rem;
      margin-bottom: 1.5rem;
    }

    img {
      margin: auto;
      width: 247.33px;
    }

    svg {
      width: 250px;
    }
  }
}

