.standards {
  margin-bottom: 84px;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;

  @media (min-width: 1024px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .standard {
    height: 500px;
    text-align: center;
  
    h4 {
      margin-bottom: 1.5rem;
    }

    img {
      margin: auto;
    }
  
    .mobileResponsive {
      img {
        width: 247.33px;
      }
    }
  
    .accessible {
      img {
        width: 379px;
      }
    }
  
    .optimized {
      img {
        width: 347px;
      }
    }
  }
}

