{% extends "_layouts/main" %}
{% block main %}
  <h2 class="textShadow">What I can do for you...</h2>
  <div class="serviceCards">
    {% for block in entry.serviceCards.all() %}
    {% set image = block.icon.one() %}
      <div class="serviceCard shadow">
        {% if image %}
          <figure class="">
            <img src="{{ image.url }}" width="125" alt="" />
          </figure>
        {% endif %}
        <h4 class="noMargin">
          {{ block.serviceHeader }}
        </h4>
        <h5>
          {{ block.serviceLink }}
        </h5>
      </div>
    {% endfor %}
  </div>
{% endblock %}