{% extends "_layouts/main" %}
{% block main %}

<h2>The problem with SCRUM</h2>

<h3 class="fontWeightLight">Dylan Ramsey | April 18, 2022 </h3>

<article>
  <div class="postContainer">
    {{ entry.postContent }}
  </div>
</article>

{% endblock %}