{% extends "_layouts/main" %}
{% block main %}
    <main class="hero">
      <div class="heroContent">
        <div class="heroMainContent">
          <h1 class="textShadow">{{ entry.mainHeader}}</h1>
          <div class="flex">
            <h2 class="header-sub-title textShadow" id="word"></h2><h2 class="header-sub-title blink">|</h2>
          </div>
          <h3 class="textShadow">{{ entry.location }}</h3>          
        </div>
        <div class="heroSubContent">
          <div class="heroCta">
            <h3 class="textShadow noMargin">Get in touch</h3>
            <div class="envelopeIcon">
              <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 78 60" width="42" height="30">
                <title>image</title>
                <defs>
                  <image width="78" height="60" id="img1" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAE4AAAA8CAMAAAD/nnzlAAAAAXNSR0IB2cksfwAAAEVQTFRFAAAA////////////////////////////////////////////////////////////////////////////////////////Up1zwgAAABd0Uk5TADB/nyC//88Q799AUKCwgNCvkHBgj29fTsFyAAACBUlEQVR4nK3X25KCMAyA4QClHEQRwX3/R13oiaRNQVpyszOr/PNhKwLAOkVZZU9ZgB5Ry1umaVWtu6e2jlhz/W21zfe4ryblAM/tT91C5rSvrfMCtQ6P3Nq6O9TZ6lxfnL//RKeXQOdkJ/JqwiyoyWX6Wrs9wO3hDJ9wm23PpfvafesC+oYl+gT6IqhcP2b4jK3u9xyMyesr3urQCXAOUn3W1tJcos/ZwMtZ36Xvm3C2IJfgQ7Ywd9mHbUzuoo/YuNyl9aU2NnfB59n43M8+3xbJWd9JL7DFcj/5Qls0B59Tn7HV5J+xHMzdsY+zHeRgOPSxtqPcoc/YJv+n+SBXyqjP2GTj7814ztQ4334l771eNOdqoc/amF4sp2vdyHx+xvZsmF4kV9rTNOu7BLbRXtJJj8+V+0nq9ZVfe9Bfb2qOiXtsztm2GcwHWM3LsozmLnVUL4U+LvfVx9s3zeGN7kg/xr3H5IhN+bxb3W52L/m+MOfZFOKDaxNeZ88X5AKbmmKu1Sl3zcd7hfr8HGOzx4lhEMztM/F5ObRDfh7so7m47WiQj+RSbNSHc2k24kO5VBv2dS4nk23IJ2kuzYZ8JJfzoBI+CKTbiM/k/At/qk/n8mzIp3PZNfMAWuvH4+A3+LpuUh17Ab9nBmib+2rbpUTcVtNbV9zke9sFfVRTnzlTpR5H/gH7/zXZD8bKxQAAAABJRU5ErkJggg=="/>
                </defs>
                <style>
                </style>
                <use id="Background" href="#img1" x="0" y="0"/>
              </svg>
            </div>
          </div>
          <div class="heroCta textShadow">
            <a href="/#heroAnchor">
              <h3 class="noMargin">Check me out!</h3>
            </a>
            <a href="/#heroAnchor">
              <div class="downCheveronLogo">
                <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 38 38" width="38" height="38">
                  <title>image</title>
                  <style>
                    .s0 { fill: none;stroke: #ffffff;stroke-linecap: round;stroke-linejoin: round;stroke-width: 2 } 
                  </style>
                  <circle id="Layer" class="s0" cx="19" cy="19" r="18.2"/>
                  <path id="Layer" class="s0" d="m26.3 18.9l-7.2 7.4-7.3-7.2"/>
                  <path id="Layer" class="s0" d="m18.9 11.8l0.2 14.5"/>
                </svg>
              </div>
            </a>
          </div>
        </div>
      </div>
      <figure class="heroImage">
        <img src="{{ entry.singleImage.one().url }}" alt="Picture of Dylan Ramsey and his dog">
      </figure>
    </main>
    <section>
      <div class="postHeroHeader centerText textShadow" id="heroAnchor">
        <h3>I'm a Florida based developer, with work that reaches across the world 🌎</h3>
        <h3>Here are a few of the largest companies I've worked with</h3>
      </div>
    </section>
  </div>
  <section>
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <a href="https://www.breezeline.com/" target="_blank">
            <div class="breezelineLogo" aria-label="Breezeline Logo"></div>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="https://www.islandfinpoke.com/" target="_blank">
            <div class="islandfinLogo" aria-label="Islandfin Poke Logo"></div>
          </a>
        </div>
        <div class="swiper-slide" aria-label="Borla Logo">
          <a href="https://www.borla.com/" target="_blank">
            <div class="borlaLogo"></div>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="https://blackdogleashes.com/" target="_blank">
            <div class="blackDogLeashesLogo"></div>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="https://srqcustoms.com/" target="_blank">
            <div class="srqCustomsLogo"></div>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="https://www.rapv.com/" target="_blank">
            <div class="rapvLogo"></div>
          </a>
        </div>
      </div>
    </div>
    Company logos go here
  </section>
  <section class="experience">
    <div class="postHeroHeader centerText textShadow">
      <h3>Here are a few great companies I've been employed with</h3>
    </div>
    <div id="vapp">
      <div class="experienceCard flex">
        <div class="employedBy">
          <h5 v-for="employeers in employeers">
          </h5>
        </div>
        <div class="employedDescription">
          <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum saepe voluptas dicta magnam libero, facilis, cum voluptatibus accusantium consequatur, deleniti fugiat sit odit. Aliquid temporibus delectus placeat accusamus assumenda reprehenderit.</div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="postHeroHeader centerText textShadow">
      <h3>These are some of my favorite projects I've worked on</h3>
    </div>
    <div class="swiper blogSwiper blogPost">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="blogCard">
            <div class="blogCardImage breezelineBlog"></div>
            <div class="blogCardContent">
              <h4>Breezeline</h4>
              <h5>Read More</h5>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="blogCard">
            <div class="blogCardImage islandBlog"></div>
            <div class="blogCardContent">
              <h4>Island Fin Poke</h4>
              <h5>Read More</h5>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="blogCard">
            <div class="blogCardImage bdl"></div>
            <div class="blogCardContent">
              <h4>Black Dog Leashes</h4>
              <h5>Read More</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
      <div class="flex">
        <div class="button">
          Learn more 
        </div>
      </div>
    </section>
    <section class="toolCardsSection container">
      <h3 class="postHeroHeader centerText textShadow">
        Here are some of the tools I craft with 
      </h3>
      <div class="toolCards">
        <div class="toolCard">
          <img src="/assets/html5logonoback.png" alt="HTML5 Logo">
        </div>
        <div class="toolCard">
          <img src="/images/uploads/images/css3.webp" alt="CSS Logo">
        </div>
        <div class="toolCard">
          <img src="/assets/javascript-logo.jpeg" alt="Javascript Logo">
        </div>
        <div class="toolCard">
          <img src="/assets/php-logo.jpeg" alt="PHP Logo">
        </div>
        <div class="toolCard">
          <img src="/assets/react-logo.jpeg" alt="React Logo">
        </div>
        <div class="toolCard">
          <img src="/assets/vue-logo.jpeg" alt="Vue Logo">
        </div>
        <div class="toolCard">
          <img src="/assets/jquery-logo.jpg" alt="jQuery Logo">
        </div>
        <div class="toolCard">
          <img src="/assets/tailwind-logo.jpg" alt="Tailwind Logo">
        </div>
        <div class="toolCard">
          <img src="/assets/sass-logo.jpg" alt="Sass Logo">
        </div>
        <div class="toolCard">
          <img src="/assets/git-logo.jpg" alt="Git Logo">
        </div>
        <div class="toolCard">
          <img src="/assets/wordpress-logo.jpg" alt="Wordpress Logo">
        </div>
        <div class="toolCard">
          <img src="/assets/figma-logo.jpg" alt="Figma Logo">
        </div>
      </div>
      <div class="flex">
        <div class="button">
          View more
        </div>
      </div>
    </section>
    <section class="container">
      <h3 class="postHeroHeader centerText textShadow">
        All of my websites are...
      </h3>
      <div class="standards">
        <div class="standard">
          <h4 class="textShadow">Fully mobile responsive</h4>
            <img src="/assets/mobileResponsive.png">
        </div>
        <div class="standard">
          <h4 class="textShadow">Accessible to all users</h4>
            <img src="/assets/accessible.png">
        </div>
        <div class="standard">
          <h4 class="textShadow">Optimized to be lightning fast</h4>
            <img src="/assets/optimized.png">
        </div>
      </div>
      <div class="flex">
        <div class="button">
          Learn more
        </div>
      </div>
    </section>
    <section class="services container">
      <div class="centerText">
        <h3 class="textShadow">Ready to create something special together?</h3>
        <h4 class="textShadow">Feel free to shoot an email over to me at dylanbradramsey@gmail.com</h4>
        <h4 class="textShadow">Want to read more about what I do and my specialties in depth? </h4>
        <h4 class="textShadow">Check out my services page</h4>
      </div>
      <div class="flex">
        <div class="button">
          Services
        </div>
      </div>
    </section>
    <section class="testimonials">
      <h3 class="postHeroHeader centerText textShadow">
        Some nice things cool people have said about me
      </h3>
      <div class="swiper testimonialSwiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="testimonial">
              <h4 class="italic">"Dylan is really cool"</h4>
              <p class="testimonialCopy">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sagittis tortor ut nunc fermentum, 
                eleifend consectetur dui aliquam. Cras porta elementum imperdiet. Donec volutpat lacus et dolor 
                maximus gravida. Pellentesque feugiat dignissim mollis. In cursus ullamcorper mauris a fermentum.
              </p>
              <h5 class="italic">-CEO Man, Cool Company</h5>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="testimonial">
              <h4 class="italic">"Dylan is really cool"</h4>
              <p class="testimonialCopy">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sagittis tortor ut nunc fermentum, 
                eleifend consectetur dui aliquam. Cras porta elementum imperdiet. Donec volutpat lacus et dolor 
                maximus gravida. Pellentesque feugiat dignissim mollis. In cursus ullamcorper mauris a fermentum.
              </p>
              <h5 class="italic">-CEO Man, Cool Company</h5>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="testimonial">
              <h4 class="italic">"Dylan is really cool"</h4>
              <p class="testimonialCopy">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sagittis tortor ut nunc fermentum, 
                eleifend consectetur dui aliquam. Cras porta elementum imperdiet. Donec volutpat lacus et dolor 
                maximus gravida. Pellentesque feugiat dignissim mollis. In cursus ullamcorper mauris a fermentum.
              </p>
              <h5 class="italic">-CEO Man, Cool Company</h5>
            </div>
          </div>
        </div>
      </div>
    </section>
  {% endblock %} 