{% extends "_layouts/main" %}
{% block main %}
  <h2 class="pageHeader">My Work</h2>
  {% for post in craft.entries.section('singlePortfolioPost').all() %}
  <div class="postEntry portfolioListWidth
    {% if post.alignContent == 'rightAlign' %} alignContentRight {% endif %}
  ">
    <a href="{{ post.url }}"><h3 class="projectTitle textShadow"> {{ post.title }} </h3>
    <h4 class="textShadow"> {{ post.postContent }} </h4>
    <h5 class="textShadow mb-4">Read more about this project</h5>
    {% if post.singleImage.one().url() is defined %}
      <div> 
        <img src="{{ post.singleImage.one().url() }}" width="600" class="blogImage">
      </div>
    {% endif %}
    </a>
  </div>
  {% endfor %}
{% endblock %}