{% extends "_layouts/main" %}
{% block main %}
  <h1 class="textShadow">{{ entry.title}}</h1>
  {% if entry.singleImage.one().url() is defined %}
    <div> 
      <img src="{{ entry.singleImage.one().url() }}" class="blogImage">
    </div>
  {% endif %}
{% endblock %}